.cart1
{
    margin: auto;
    width: 60%;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    color: black;
    /* background-color: aqua; */
    border: 1px solid palevioletred;
    border-radius: 5px;
    padding: 10px;
}

.cart2
{
    display: flex;
    flex-direction: column;
   
}


.cart_id{
    display: flex;
    justify-content: space-between;
    background-color: #f7f4f4;
    /* border: 1px solid  #111; */
    border-radius: 8px;
    margin: 10px;
}

.cart_image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 70%;
    
}

.cart_image img{
    width: 120px;
    height: 100px;
}

.cart_image h3{
    padding: 0 60px;
    font-size: 15px;
    width: 50%;
}

.items{
   /* margin: 13px 50px; */
   display: flex;
   align-items: center;
   
}

.items>input{
    margin: 0 10px;
    width: 60px;
    height: 22px;

 }

 .total_cost{
    text-align: center;        
    width: 100%;                         
 }

.btn
{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.btn>button{
    border: none;

}
.items button{
   padding: 25px;
    border: none;
    color: red;
}
.price{
    font-size: 20px;
}

.payment_btn
{
    text-decoration: none;
    padding: 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 5px;
    float: right;
}
.cartpage{
    width: 100%;
    height: 100 vh;
    margin-bottom: 100px;
}