.footerpage{
    position: relative;
    left: 0;
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    color: rgb(112, 111, 111);
    background-color: rgb(248, 248, 255);
}

.footercontainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 30rem;
    justify-content:center; 
    margin: 0px;
    overflow: hidden;
}

.heading{
    color:black;
    font-weight: 500;    
}

.divcontainer{
    width: 20%;
    padding: 0.3rem;
    margin-top: 2rem;
}

.divcontainer h3{
    letter-spacing: 1px;
    font-size: 14px;    
}

.divcontainer1{
    width: 40%;
}
.weigth{
    font-size: 35px;
}