
.header_nav_container{  
    position: relative;  
    width: 100%;
    height: 8rem;
    cursor: pointer;
}

.header_container{
    border-bottom: 0.5px solid rgb(46, 46, 139, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.header{
    width: 85%;
    display: flex;
    height: 8rem;
    justify-content: space-between;
}

.logo_input_container{
     display: flex;
     justify-content: start;
     align-items: center;
     width: 50%;
}

.input_container{
    border: 1px solid grey;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    
}

.logo_container{
    cursor: pointer;
    width: 55%;
    height: 100%;
}

.meshologo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.logo_container a{
    cursor: pointer;
}

.input_container form{
    display: flex;
    width: 100%;
}

.searchitemcontainer {
    width:100%;
}

.searchitemcontainer::placeholder{
    color: grey;
    font-size: 15px;
}

.searchIcon{
    font-size: 23px;
    color: grey;
    padding: 0rem 0.4rem 0rem 1rem;
}

.input_container input[type=text] {
    border: none;
    height: 3.7rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    color: rgb(59, 57, 57);
    font-weight: 500;    
}

.searchitemcontainer:focus{
    border: none;
}

.input_container input[type=text]:focus {
    outline: none;
    height: 3.7rem;
}

.input_container input{
    margin: 1px;
}

.links_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;    
}

.links span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.links_border{
    border-left: 1px solid  rgb(59 130 246 / 0.5);
    border-right: 1px solid  rgb(59 130 246 / 0.5);
}

.profile_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 7rem;
    height: 7.7rem;
    cursor: pointer;
}

.profile{
    font-size: 1.5rem;
    cursor: pointer;
}

.profile_line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
}
.mobileIcon{
    font-size: 20px;
    color: rgb(61, 61, 61);
}

.profileIcon{
    color: rgb(61, 61, 61);
}

.cartIcon{
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.profile_line:hover{
 color: rgb(159, 32, 137);
    
    border-bottom:  solid rgb(159, 32, 137);
    & a{
        color: rgb(159, 32, 137);
        font-weight: 500;
    }   
}

.links_download:hover{
    height: 5rem;
    
    color: rgb(159, 32, 137);
    
    border-bottom:  solid rgb(159, 32, 137);
    & a{
        color: rgb(159, 32, 137);
        font-weight: 500;
    }    
}

.nav_container{
    border-bottom: 0.5px solid rgb(46, 46, 139, 0.3);
    border-right:  none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.nav{
    display: flex;
    width: 85%;
    height: 6rem;
}

.nav_items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6ren;   
    cursor: pointer; 
}

.nav_items span p{
    cursor: pointer;
}

a{  
   text-decoration: none;
   color: black;
   font-size: 1.5rem;
   cursor: pointer;
}

.nav_items span{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav_items span:hover{
    color: rgb(159, 32, 137);
    cursor: pointer;
    border-bottom:  solid rgb(159, 32, 137);
    & a{
        color: rgb(159, 32, 137);
        font-weight: 500;
        cursor: pointer;
    }   
}

.hide{
    position: absolute;
    display: none;
}

.profile_container:hover + .hide{
    display: block;
}

.hide:hover{
    display: block;
}

.downloadappcontainer:hover + .hide{
    display: block;
}

.hide:hover{
    display: block;
}

.prdquantitycontainer{
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4rem;
    padding: 0px;
    background-color: rgb(219, 139, 206);  
    color: white; 
    box-shadow: 2px 2px 2px 2px rgb(219, 139, 206) ;
    margin-bottom: 5.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.prdquantitycontainer p{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
.MobileNavmenuCont{
    display: none;
}

.searchinNav{
    display: none;
}
.hidesrchinheader{
    width: 100%;
}
@media only screen and (max-width: 991px) {
    .MobileNavmenuCont{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.7rem;
    }
    .nav_container{
        display: none;
        margin: 0rem 2rem 0rem 2rem;
    }
    .nav{
        display: none;
    }
    .searchinNav{
        display: flex;
    }
    .header_nav_container{
        width: 100%;
    }
    .header_container{
        border: none;
    }
    .header{
        width: 100%;
        justify-content: space-evenly;
    }
   
    .hidesrchinheader{
        display: none;
    }
    .input_container{
        height: 5.5rem;
        border-radius: 10px;
        margin: 0rem 2rem 0rem 2rem;
    }
    .logo_container{
        cursor: pointer;
        width: 50%;
        height: 100%;
    }
   
} 

@media only screen and (max-width:1326px){
    .downloadappcontainer{
        display: none;
    }
    
}

@media only screen and (max-width:1134px){
    .bcomeSuplierContainer{
        display: none;
    }
    
}
@media only screen and (max-width:480px){
    .logo_container{
        cursor: pointer;
        width: 75%;
        height: 100%;
    }
    
    
}