.prodDetailPage{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prodSubContainer{
   
   width: 80%;
   display: flex;
   justify-content: center;
   padding-top: 2.5rem;
}

.imgAndbtnContainer{
    display: flex;
    width: 50rem;
    height: 58rem;
    margin-bottom: 5rem;
}

.smallImage{
    border: 1px solid rgb(223, 220, 220);
    margin: 1.8rem ;
    width: 5rem;
    height: 6rem;
    overflow: hidden;
    object-fit: cover;
}

.smallImage img{
    width: 95%;
    height: 95%;    
}

.imageContainer img{
    width: 75%;
    height: 85%;
    padding: 1rem ;
}

.mainimageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(179, 173, 173);
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(223, 220, 220);
    height: 60rem;
    object-fit: cover;
    overflow: hidden;    
}

.buyAndcartContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 16rem;
}

.buyAndcartContainer button{
    width: 20rem;
    height: 5rem;
    font-size: 17px;
    border-radius: 4px;   
}

.addcrtbtn{
    background-color: white;
    font-weight: 700;
    border: 1px solid rgb(159, 32, 137);
    color: rgb(159, 32, 137);
}

.buybtn{
    border: none;
    color: white;
    background-color: rgb(159, 32, 137);
}

.pdDetailContainer{
    width: 55rem;
    height: 60rem;
    margin-left: 3.5rem;
}

.pdTitleContainer{
    width: 100%;
    font-size: 18px;
    padding: 1.2rem 2rem;
    color:  rgb(139, 139, 163);
    width: 21.4rem; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.priceContainer{
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    padding: 1rem 2rem;
    color: rgb(49, 48, 48);       
}

.freeContainer{
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500; 
    padding: 1rem 0.5rem 0rem 2rem;    
}

.freeContainer span{
    background-color: rgb(245, 245, 245); 
    color:  rgb(103, 103, 121);
}
.reivewContainer{

    font-size: 16px;
    padding: 1rem 2rem; 
    color: rgb(49, 48, 48);
    color: white;  
}

.leftItmeconainer{
    font-size: 12px;
    color:  rgb(139, 139, 163); 
}

.prdmainConainer{
    display: flex;
    flex-wrap: wrap;
}
.ratingconainer{
    background-color: rgb(35, 187, 117);
    padding: 0.1rem 1rem;
    border-radius: 4rem;
    margin-right: 1rem;
    
} 
.star{
    font-size: 10px;
    padding-left: 0.2rem;
    margin-bottom: 0.3rem;
}
.detailsSection{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
    width: 100%;
}

.prdheading{
    font-size: 18px;
    font-weight: 600;
    padding: 2rem ;
    letter-spacing: 1px;
}

.prdDescription{
    font-size: 15px;
    padding: 0rem 2rem  2rem 2rem;
}

.dtalbox{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(223, 220, 220);
    margin-bottom: 1.8rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}

.alert-container {
    position: absolute;
    top: 1rem;
    left: 45%;
    right: 0;
}

.alert-inner {
    display: inline-block;
    padding: 1.3rem 2rem;
    font-size: 15px;
    color: white;
    z-index: 1;
    border-radius: 4px;
    background-color: rgb(35, 187, 117);
    box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}
.wishlistlogo{
    display: flex;
}
.wishlistlogo button{
    margin: 2rem;
    color: grey;
    font-size: 1.5rem;
    border: 1px solid rgb(182, 173, 173);
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px grey ;
}

.addtowishlist{
    color: rgb(231, 64, 64);
}