.row1
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.each_product{
    
    width: 25rem;
    /* margin: 0 10px; */
    margin-bottom: 5rem;
    box-shadow: 1px 1px 6px 1px #e3e3e3;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 0.4rem;
    background-color: #f9f9f9;
}

.img{
    width: 25rem;
    height: 25rem;
}

.title1{
    font-size: 1.6rem;
    font-weight: 40rem;
    margin: 0 12px 9px;
    opacity: 0.6;
}

.price1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0  12px 9px;
    display: flex;
   
}

.rating1{
    display: flex;
    margin: 0  12px 9px;
}

.rate{
    background-color: rgb(19, 114, 77);
    padding: 1.0rem;
    width: 4.5rem;
    height: 15px;
    border-radius: 50px;
    color: #f9f9f9;
    font-weight: 600;
    margin: 0  5px 9px;
}

.ratecc{
    padding: 1.0rem;
    font-weight: 400;
    opacity: 0.7;
}

.view_product{
    
    text-decoration: none;
    color: #111;
}
.productpage{
    width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 10rem;
}
.productcontainer{
  width: 80%;
  display: flex;
    align-items: center;
    margin: 0px;
    padding-top: 5rem;
}



.addcontent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addcontentitem{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    background-color:rgb(248, 248, 255);;
    box-sizing: border-box;
    height: 34.4rem;
    
}
.addtitlecontainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.addheading h1{
    font-size: 35px;
    letter-spacing: 1px;
}
.addheading{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.iconsContainer{ 
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem;
    
}
.iconsname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.btndownloadmessho{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 14.8rem; 
 
}
.btndownloadmessho button{
    width: 30rem;
    height: 4rem;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(159, 32, 137);
    
}
.topcatContainer{
display: flex;
align-items: center;
justify-content: center;
margin: 7rem 0rem;
}
.topcatsubContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.topcatsubContainer hr{
    width: 20%;
}
.topheading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.topheading h1{
    font-size: 30px;
    font-weight: 500;
}
.iconscolom{
    font-size: 20px;
    padding-right: 0.4rem;
}
.row3container{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}
.row2container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.homepagemaincontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.homepagesubmainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.productlistcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productlistSubcontainer{
    width: 85%;
    display: flex;
}
.prdBox{
    display: flex;
    width: 24rem;
    height: 40rem;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
    flex-direction: column;
    margin: 0.9rem;
    box-sizing: border-box;
    
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 21rem;
    object-fit:cover;
    overflow:hidden ;
}
.imgg{
    width: 97%;
    height: 97%;
    padding: 0.3rem;
   }
.filtercontainer{
    display: flex;
    flex-direction: column;
}
.sortcontainer{
    width: 29rem;
    height: 3.5rem;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 3px;
    margin: 0.9rem;
}
.Categorycontainer{
    width: 29rem;
    height: 60rem;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    margin: 0.9rem;
    border: 1px solid rgb(223, 220, 220);

}
.pdTitleContainer{
  width: 100%;
  font-size: 18px;
  padding: 1.2rem 1rem;
  color:  rgb(139, 139, 163);
  width: 21.4rem; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;   
}
.priceContainer{
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    padding: 1rem 1rem;
    color: rgb(49, 48, 48);   
   
}
.freeContainer{
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500; 
    padding: 1rem 0.5rem 0rem 1rem;    
}
.freeContainer span{
    background-color: rgb(245, 245, 245); 
    color:  rgb(103, 103, 121);
}
.reivewContainer{
 
    font-size: 16px;
    padding: 1rem 1rem; 
    color: rgb(49, 48, 48);
    color: white;  
}

.leftItmeconainer{
    font-size: 12px;
    color:  rgb(139, 139, 163); 
}

.prdmainConainer{
    display: flex;
    flex-wrap: wrap;
}
.ratingconainer{
    background-color: rgb(35, 187, 117);
    padding: 0.1rem 1rem;
    border-radius: 4rem;
    margin-right: 1rem;
    
} 
.star{
    font-size: 10px;
    padding-left: 0.2rem;
    margin-bottom: 0.3rem;
}
.sortitemscontainers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(223, 220, 220);
    height: 5rem;
    
}
.sortitm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #201c1c;
}
.sortitemscontainers button{
    font-size: 15px;
    color: rgb(133, 131, 131);
    border: none;
    background-color: white;
    width: 100%;
    height: 5rem;
    font-weight: 550;
}
.sortitemscontainers:hover{
    color: rgb(159, 32, 137);
       
       border-bottom:  solid rgb(159, 32, 137);
       & button{
        font-size: 17px;
           color: rgb(159, 32, 137);
           font-weight: 500;
       }   
   }

   .noitemFound{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

   }
   .oppscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    
   }
   .oppscontainer h4{
    font-weight: 12px;
    font-weight: 600;
    color: grey;
    letter-spacing: 1px;
   }
   .oppscontainer h1{
    font-weight: 14px;
    color: rgb(49, 47, 47);
    font-weight: 480;
    margin: 0px;
   }