.signup_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 228, 231);
    /* background-color: linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%); */
}
.signup_container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 45rem;
    height: 65rem;
    overflow: hidden;
    background-color: white;
}
.signup_input_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_input_container_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.phone_no_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
}
.phone_no_input span{
   border-bottom: 1px solid gray;
   width: 100%;
}
.phone_no_input input:focus{
border: none;
outline: none;
}
.email:focus{
    border: none;
    outline: none;   
}
.button_container button{
    width: 30rem;
    height: 4rem;
     border-radius: 0.5rem;
     border: none;
     background-color:rgb(159, 32, 137) ;
     color: white;
     font-size: 1.7rem;
    margin-top:2.3rem ;
}
.condition_container{
 height: 23rem;
 width: 30rem;
 display: flex;
 justify-content: center;
 align-items: end;
}
.privacy_container p{
    font-size: 10px;
    letter-spacing: 1px;
}
.signup_heading{
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2.5rem;
}
.phone_no_input span input{
    outline: none;
    border: none;
    width: 25rem;
    height: 3rem;
}
b{
    color:rgb(159, 32, 137) ;
}
.signin_container_box{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
   
}
.signin_container_box p{
    margin: 0px;
    font-size: 13px;
    color:rgb(159, 32, 137) ;
    font-weight: 500;
}