.row1
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.each_product{
    
    width: 250px;
    /* margin: 0 10px; */
    margin-bottom: 50px;
    box-shadow: 1px 1px 6px 1px #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
    background-color: #f9f9f9;
}


.img{
    width: 250px;
    height: 250px;
}

.title1{
    font-size: 16px;
    font-weight: 400px;
    margin: 0 12px 9px;
    opacity: 0.6;
}

.price1{
    font-size: 25px;
    font-weight: bold;
    margin: 0  12px 9px;
    display: flex;
   
}

.rating1{
    display: flex;
    margin: 0  12px 9px;
}

.rate{
    background-color: rgb(19, 114, 77);
    padding: 10px;
    width: 45px;
    height: 15px;
    border-radius: 50px;
    color: #f9f9f9;
    font-weight: 600;
    margin: 0  5px 9px;
}

.ratecc{
    padding: 10px;
    font-weight: 400;
    opacity: 0.7;
}

.view_product{
    
    text-decoration: none;
    color: #111;
}
.productpage{
    width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
}
.productcontainer{
  width: 80%;
  display: flex;
    align-items: center;
    margin: 0px;
    padding-top: 50px;
}
